In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
thirteen_datasets = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-10-13/datasaurus.csv')
thirteen_datasets.head()

  dataset        x        y
0    dino  55.3846  97.1795
1    dino  51.5385  96.0256
2    dino  46.1538  94.4872
3    dino  42.8205  91.4103
4    dino  40.7692  88.3333

In [11]:
thirteen_datasets.shape

(1846, 3)

In [15]:
thirteen_datasets.dtypes

dataset     object
x          float64
y          float64
dtype: object

In [16]:
thirteen_datasets.dataset.value_counts()

dino          142
away          142
h_lines       142
v_lines       142
x_shape       142
star          142
high_lines    142
dots          142
circle        142
bullseye      142
slant_up      142
slant_down    142
wide_lines    142
Name: dataset, dtype: int64

In [17]:
thirteen_datasets.dataset.value_counts().sum()

1846

In [18]:
thirteen_datasets

         dataset          x          y
0           dino  55.384600  97.179500
1           dino  51.538500  96.025600
2           dino  46.153800  94.487200
3           dino  42.820500  91.410300
4           dino  40.769200  88.333300
...          ...        ...        ...
1841  wide_lines  33.674442  26.090490
1842  wide_lines  75.627255  37.128752
1843  wide_lines  40.610125  89.136240
1844  wide_lines  39.114366  96.481751
1845  wide_lines  34.583829  89.588902

[1846 rows x 3 columns]

In [ ]:
thirteen_datasets[thirteen_datasets]

In [19]:
IN [65]: pd.Dataframe.from_dict(dict([("A", [1,2,3]), ("B", [4,5,6])]))
OUT[65]:

SyntaxError: invalid syntax (Temp/ipykernel_11456/269349108.py, line 2)

In [22]:
?describe

Object `describe` not found.

In [1]:
#Shortcuts

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
#import plotly.graph_objects as go

In [2]:
#Matplotlib and Seaborn Syntax:

fig = plt.scatter(x, y, df_name)
#add code here for elements like
#titles, labels, or legends.
#will draw everything on a single
#visualization until you call
plt.plot()

NameError: name 'x' is not defined

In [3]:
#Plotly

fig = px.bar(df_name,
x,y,
title = “Bar Chart”,
color = z,
#add more attributes
             )
fig.plot()

SyntaxError: invalid character '“' (U+201C) (Temp/ipykernel_14812/1709701783.py, line 5)

In [ ]:
# ACCESSING FLAT FILES

import pandas as pd
df = pd.read_csv("csv_file.csv")
df.head()

In [5]:
# ACCESSING FLAT FILES if the delimeter is a tab
import pandas as pd
df = pd.read_csv("tsv_file.tsv", sep="\t")
df.head(

In [ ]:
# ACCESSING HTML FILES

#HTML files can be accessed by using pd.read_html()
import pandas as pd
df = pd.read_html('data.html')

In [ ]:
#ACCESSING JSON FILES

#For JSON files, you can use read_json.orient = "split" orients the data in a layout similar to a DataFrame.


import pandas as pd
df= pd.read_json('data.json',
orient='split')

In [ ]:
#XML files can be accessed by using
pd.read_xml
import pandas as pd
df = pd.read_xml('data.xml')