In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
thirteen_datasets = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-10-13/datasaurus.csv')
thirteen_datasets.head()

  dataset        x        y
0    dino  55.3846  97.1795
1    dino  51.5385  96.0256
2    dino  46.1538  94.4872
3    dino  42.8205  91.4103
4    dino  40.7692  88.3333

In [11]:
thirteen_datasets.shape

(1846, 3)

In [15]:
thirteen_datasets.dtypes

dataset     object
x          float64
y          float64
dtype: object

In [16]:
thirteen_datasets.dataset.value_counts()

dino          142
away          142
h_lines       142
v_lines       142
x_shape       142
star          142
high_lines    142
dots          142
circle        142
bullseye      142
slant_up      142
slant_down    142
wide_lines    142
Name: dataset, dtype: int64

In [17]:
thirteen_datasets.dataset.value_counts().sum()

1846

In [18]:
thirteen_datasets

         dataset          x          y
0           dino  55.384600  97.179500
1           dino  51.538500  96.025600
2           dino  46.153800  94.487200
3           dino  42.820500  91.410300
4           dino  40.769200  88.333300
...          ...        ...        ...
1841  wide_lines  33.674442  26.090490
1842  wide_lines  75.627255  37.128752
1843  wide_lines  40.610125  89.136240
1844  wide_lines  39.114366  96.481751
1845  wide_lines  34.583829  89.588902

[1846 rows x 3 columns]

In [ ]:
thirteen_datasets[thirteen_datasets]

In [ ]:
IN [65]: pd.Dataframe.from_dict(dict([("A", [1,2,3]), ("B", [4,5,6])]))
OUT[65]:

In [22]:
?describe

Object `describe` not found.

In [42]:
#Shortcuts

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
#import plotly.graph_objects as go

In [ ]:
#Matplotlib and Seaborn Syntax:

fig = plt.scatter(x, y, df_name)
#add code here for elements like
#titles, labels, or legends.
#will draw everything on a single
#visualization until you call
plt.plot()

In [ ]:
#Plotly

fig = px.bar(df_name,
x,y,
title = “Bar Chart”,
color = z,
#add more attributes
             )
fig.plot()

In [ ]:
# ACCESSING FLAT FILES

import pandas as pd
df = pd.read_csv("csv_file.csv")
df.head()

In [5]:
# ACCESSING FLAT FILES if the delimeter is a tab
import pandas as pd
df = pd.read_csv("tsv_file.tsv", sep="\t")
df.head(

In [ ]:
# ACCESSING HTML FILES

#HTML files can be accessed by using pd.read_html()
import pandas as pd
df = pd.read_html('data.html')

In [21]:
#ACCESSING JSON FILES

#For JSON files, you can use read_json.orient = "split" orients the data in a layout similar to a DataFrame.


import pandas as pd
df= pd.read_json('data.json',
orient='split')

ValueError: Expected object or value

In [ ]:
#XML files can be accessed by using
pd.read_xml
import pandas as pd
df = pd.read_xml('data.xml')

In [1]:
# If we want to see all the absences for each employee, we will need to group by ID.

#Use groupby on ID and return the sum of Abesnteeism time in hours for each ID.
df.groupby('ID').agg({'Absenteeism time in hours':['count','sum']})

In [2]:
#drop duplicates
df.shape, df.drop_duplicates().shape

In [ ]:
df.drop_duplicates(subset = ['ID'])

In [ ]:
#Merge
df1 = pd.DataFrame({
    "bookingID" : [15926, 17932, 97845, 35784, 17932],
    "resDate" : ["Dec 11", "Dec 11", "Nov 15", "Dec 11", "Oct 09"]
})
df1

NameError: name 'pd' is not defined

In [43]:
df2 = pd.DataFrame({
    "bookingID" : [15926, 35784, 17932],
    "clientName" : ["Flynn. Elisse", "Nedresky, Kayla" , "Segall, Alison"],
    "roomType" : ["Lake", "Garden", "Park"],
})
df2

   bookingID       clientName roomType
0      15926    Flynn. Elisse     Lake
1      35784  Nedresky, Kayla   Garden
2      17932   Segall, Alison     Park

In [ ]:
df3 = pd.merge(df1, df2, how = 'inner', left_on = 'bookingID', right_on = 'bookingID')
df3

In [ ]:
#end merge

In [ ]:
#Converting string to a date
#”September 21, 2021”

In [23]:
from datetime import datetime
strs = '21 September,2021'
datetime.strptime(strs, '%d %B,%Y')

datetime.datetime(2021, 9, 21, 0, 0)

In [45]:
from datetime import datetime
strs = '21 September,2021'
dtime = datetime.strptime(strs, '%d %B,%Y')
datetime.isoformat(dtime) # Converting to ISO format

'2021-09-21T00:00:00'

In [46]:
strs = "21 September, 2021"                       ## string
dtime = datetime.strptime(strs, "%d %B, %Y") ## convert string to date

ddate = dtime.date()               ## extract the date portion
date.isoformat(ddate)              ## convert to ISO format

NameError: name 'date' is not defined

In [48]:
s1 = '2022-05-15'


dtime1 = datetime.strptime(s1, '%Y-%m-%d')
S1 = datetime.isoformat(dtime1)


prior_date = dtime1 - timedelta(days = 20) ## 20 days prior to dtime1 (2022-05-15)
datetime.isoformat(prior_date)

NameError: name 'timedelta' is not defined

In [38]:
pd.to_datetime('12/7/21 21:00', format='%d/%m/%y %H:%M') - pd.to_timedelta(2, unit='D')#days

Timestamp('2021-07-10 21:00:00')

In [49]:
datetime.now()

datetime.datetime(2022, 8, 2, 19, 8, 31, 961431)

In [50]:
date.today()

NameError: name 'date' is not defined

In [41]:
date.isoformat(date.today())

NameError: name 'date' is not defined

In [ ]:
#Difference the Data
def difference(dataset, interval=1):
    diff = list()
    for i in range(interval, len(dataset)):
        value = dataset[i] - dataset[i - interval]
        diff.append(value)
    return pd.Series(diff)

x = Fires['Date'].values
diff = difference(x)

print(diff)